body {
    background: #fff;
    color: black;
    overflow-x: hidden;
}

.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.9;
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important; }
.navbar .nav-item.active {
    border-left: #444 3px solid; }

.dropdown-item:hover {
    background: #333;
    color: white;
}

#page-header {
    height: 200px;
    background: url("../img/image1.jpg");
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px; }

.about-img {
    margin-top: -50px; }
